
.nonBorderButton{
    border-style: none;
    background: white;
}
.calculationContainer{
border-style: solid;
border-width: 1px;
margin-left: 5px;
border-color: rgb(197, 197, 197);
align-items: center;
}
.calculationButton{
    background: #febd59;
    width: 100%;
    height: 55px;
    border-radius: 5px;
}

.greenTextStep{
    color:#f09000;
    padding-top: 15px;
}
.greenBorderText{
    color:#febd59;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border-style: solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cleanFlatButton{
    width: 100%;
    border-left-style: none;
}
.exampleImg{

}
.cleanFlatButtonfirst{
    width: 100%;
}
.containerCleanButton{
    border: solid black 1px;
    margin: 0px;
    padding: 0px;
}
.aboutCleanFlat{
    display:flex;
    flex-direction:column;
}
.wrapperGreenHref{
    display: flex;
    justify-content: center;
}
.greenHref{
    width: 200px;
    height: 50px;
    /* background: cadetblue; */
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    border: solid;
    border-radius: 36px;
    color: black;
    border-color: #febd59;

}
.greenHref:hover{
    color:#febd59;
    border-color: #febd59;
    text-decoration:none;
}
.cardImgWrapper{
    display: flex;
    justify-content: center;
}
.card-img-top{
    width: 150px;
}
.wrapperAppraisal{
    display: flex;
    justify-content: center;
    margin-top: 19px;
}
.appraisal{
    background: #febd59;
    width: 150px;
    border-radius: 25px;
    padding:3px;
}
.workEvaluationWrapper{
    display: flex;
    justify-content: center;

}
.workEvaluation{
    background-color:#febd59 ;
    width:  150px;
    padding: 4px;
    border-radius: 25px;
}
.greenText{
    text-align: center;
    background-color:#febd59 ;
    padding: 4px;
    border-radius: 25px;
    width: 50px;
    margin: 0;
}
.smallText{
    font-size: 0.8rem;
}
.smallReviewText{
    font-size: 0.8rem;
    color: grey;
    margin: 0px;
}
.cleaningsNumbersWrapper{
    display: flex;
    align-items: center;
}
.smallTextWrapper{
    display: flex;
    align-items: flex-end;
}
.yellowChek{
    display: inline-block;
    width: px;
    height: 35px;
}
footer{
    background: rgb(34, 34, 34);
    color: rgb(166, 166, 166);
    
}
footer a{
    color: white;
}
.mesangerButton{
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: relative;
    vertical-align: middle;
    padding-left: 15px;
    letter-spacing: 0px;
    text-align: center;
    font-size: 16px;
    color: white;
    transition: all 0.25s ease-in-out 0s;
    border-radius: 100px;
    background: rgb(89, 89, 89);
    text-decoration: none;
}
.coroirateColorText{
    color:#febd59;
}
.megaText{
    font-size: 110px;
}
.cardArrow{
    font-size: 32px;
    color: gray;
}
.form-check-label:before{
    background-color:red;
}
.ContainerAbout{
    margin-top: 20px;
    margin-bottom: 25px;

}
.wrapperForfastOrder{
    background-color: white;
    padding: 20px;
    width: 366px;
    border-radius: 25px;
}
.bannerAfterwork{
height: 100%;
}
.bannerHomeWrapper{
    background-image: url("/homezar.jpg");
    height: 800px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.bannerAfterworkWrapper{
    background-image: url("/94d1bae7befe768b05942ed7153c8d74.jpg");
    height: 800px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.wrapperForfastOrder{

}
hr{
    margin: 0px;
}
.smallTextAbout{
color: rgb(166, 166, 166);
}
.faqSaveClean button {
font-size: 20px;
color: #000;
}
.faqSaveClean  button:hover  {  
    color:#febd59;
    text-decoration: none;
    }
h1{
    font-size: 40px;
}
.cleanFlatButton{
    height: 50px;
    background: white ;
    font-size: 15px;
}
.mediumText{
    font-size: 66px;
}
.cleanFlatButtonActive{
    height: 50px;
    background: black ;
    color:white;
    font-size: 15px
}
.morevar{
    width: 167px;
    align-self: center;
    margin-top: 25px;
    background: #febd59;
    border-color: #febd59;;
}
.morevar:hover{
    background: #febd59;
    border-color: #febd59;;
}
.goToGeneral{
    margin-top: 200px;
    margin-bottom: 120px;
}
.reliablePerformers{
    margin-top: 75px;
}
.clinerCard{
    margin: 41px;
}
.AssessmentWork{
    margin-top: 250px;
}
.workEvaluationWrapper{
    height: 57px;
    font-size: 23px;
}

.textStepSmall
{
    margin-top:20px;
}
.faqSaveClean{
    margin-top: 150px;
}
.faqSaveCleanHeadertext{
    margin-bottom: 60px;
}
footer hr{
    background-color: chocolate;
}
.activeHomeNavigation{
    
    background: #febd59;
    /* align-items: center; */
    text-align: center;
    border-radius: 28px;
    padding: 6px;
    font-size: 14px;
    color: white;
}
.homeNavigation{
    font-size: 14px;
    border-radius: 28px;
    padding: 6px;
    margin-top: 21px;
}
.activeHomeNavigation p a{
    color: black;
    text-decoration:none ;
}
.homeNavigation p a{
    color: black;
    text-decoration:none ;
}
.borderImg{
    border-radius: 25px;
}
.secondNav{
    margin-top: 15px;
    margin-bottom: 15px;
}
.bolidText{
    font-weight:bold ;
    font-size: 14px;
}

.cleanWindowButton{
    height: 50px;
    background: white ;
    font-size: 15px;
    border-radius: 5px;
    border-style: none;
    width: 245px;
    
}
.cleanWindowButtonActive{
    height: 50px;
    background: black ;
    color:white;
}
.wrapperCleanWindowButton{
        border-style: solid;
        padding: 4px;
        border-width: 1px;
        border-radius: 9px;
}

.orderCleanWindowButton{
    background: #febd59;
    width: 80%;
    height: 55px;
    border-radius: 5px;
}
.margin-left20{
    margin-left: 34px;
}
.windowsCleanImg{
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
}
.wrapperWindowTextClean{
    font-size: 15px;
}
.aboutAdvintageWindow{
    margin-top: 150px;
}
.orderCleanWindowWrapper{
    margin-top: 40px;
}
.moreCleaneWindowWrapper{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faqCleanWindow{
    margin-top: 100px;
}
.text-right{
    margin-top: 5px;
    font-size: 12px;
}
.pandemicContainer{
background-color: #C1FFFF;
padding: 20px;
width: 50%;
border-radius: 40px;
}
header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
    display: none;
    }
    @media screen and (max-width: 576px){
        .calculationContainer{
            height: 71px;
        }
    }
    @media screen and (max-width: 1200px){
        .cleanWindowButton{
            width: 211px;
        }
    }
    @media only screen and (max-width: 768px) {
       .exampleImg{
           display: none;
       }
    }
    @media screen and (max-width: 994px){
        .cleanWindowButton{
            width: 150px;
        }
        .orderCleanWindowButtonInRow{
            margin-top: 20px;
        }
        .megaText{
            font-size: 52px;
        }
    }